/* global rules  */
:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --main-transition: 0.3s;
  --section-background: #ececec;
  --padding-section: 100px;
  --quality-color: #f44036;
  --time-color: #009688;
  --passion-color: #03a9f4;
}
html {
  scroll-behavior: smooth;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Cairo", sans-serif;
}
ul {
  list-style: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
a {
  text-decoration: none;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* global rules  */
/* component  */
.main-title {
  text-transform: uppercase;
  margin: 0 auto 80px;
  width: fit-content;
  padding: 10px 20px;
  font-size: 30px;
  border: 2px solid black;
  position: relative;
}
.main-title::before {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--main-color);
  position: absolute;
  left: -30px;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}
.main-title::after {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--main-color);
  position: absolute;
  right: -30px;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}

.main-title:hover::before {
  animation: left-move 0.5s linear;
  animation-fill-mode: forwards;
}
.main-title:hover::after {
  animation: right-move 0.5s linear;
  animation-fill-mode: forwards;
}
.main-title:hover {
  border: #fff 2px solid;
  color: #fff;
  transition-delay: 0.5s;
  transition-duration: var(--main-transition);
}
/* component  */
/* start animation */
@keyframes up-and-down {
  0%,
  100% {
    top: 0px;
  }
  50% {
    top: -50px;
  }
}
@keyframes bouncing {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40%,
  60% {
    transform: translateY(-15px);
  }
}
@keyframes left-move {
  50% {
    left: 0px;
    width: 12px;
    height: 12px;
  }
  100% {
    width: 51%;
    height: 100%;
    border-radius: 0;
    left: 0px;
  }
}
@keyframes right-move {
  50% {
    right: 0px;
    width: 12px;
    height: 12px;
  }
  100% {
    width: 51%;
    height: 100%;
    border-radius: 0;
    right: 0px;
  }
}
@keyframes read-more-arrow {
  100% {
    transform: translateX(10px);
  }
}
/* end animation */

/* start header  */
.header {
  background-color: #fff;
  box-shadow: 0 0 10px #ddd;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
.header .logo {
  color: var(--main-color);
  font-size: 26px;
  font-weight: bold;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .header .logo {
    width: 100%;
    height: 50px;
  }
}
.header .main-nav {
  display: flex;
}
@media (max-width: 768px) {
  .header .main-nav {
    margin: auto;
  }
}
.header .main-nav > li:hover .mega-menu {
  opacity: 1;
  z-index: 100;
  top: calc(100% + 1px);
}
.header .main-nav > li > a {
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: black;
  padding: 0 30px;
  overflow: hidden;
  font-size: 18px;
  transition: var(--main-transition);
}
@media (max-width: 768px) {
  .header .main-nav > li > a {
    font-size: 14px;
    padding: 0 10px;
    height: 40px;
  }
}
.header .main-nav > li > a::before {
  content: "";
  height: 4px;
  width: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  transition: var(--main-transition);
  background-color: var(--main-color-alt);
}
.header .main-nav > li > a:hover {
  color: var(--main-color);
  background-color: #fafafa;
}
.header .main-nav > li > a:hover::before {
  left: 0;
}
.header .mega-menu {
  position: absolute;
  width: 100%;
  left: 0;
  padding: 30px;
  background-color: #fff;
  border-bottom: 3px solid var(--main-color);
  z-index: 100;
  display: flex;
  gap: 40px;
  top: calc(100% + 50px);
  z-index: -1;
  opacity: 0;
  transition: top var(--main-transition), opacity var(--main-transition);
}
@media (max-width: 767px) {
  .header .mega-menu {
    flex-direction: column;
    gap: 0;
  }
}
.header .mega-menu .image img {
  max-width: 100%;
}
@media (max-width: 991px) {
  .header .mega-menu .image {
    display: none;
  }
  .header .mega-menu {
    padding: 5px;
  }
}
.header .mega-menu .links {
  min-width: 250px;
  flex: 1;
}
.header .mega-menu .links li {
  position: relative;
}
.header .mega-menu .links li::before {
  content: "";
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 0;
  background-color: #fafafa;
  z-index: -1;
  transition: var(--main-transition);
}
.header .mega-menu .links li:hover:before {
  width: 100%;
}
.header .mega-menu .links li:not(:last-child) {
  border-bottom: 1px solid #e9e6e6;
}
@media (max-width: 767px) {
  .header .mega-menu .links:first-child li:last-child {
    border-bottom: 1px solid #e9e6e6;
  }
}
.header .mega-menu .links li a {
  color: var(--main-color);
  padding: 15px;
  display: block;
  font-size: 18px;
  font-weight: bold;
}
.header .mega-menu .links li a i {
  margin-right: 10px;
}
/* end header  */
/* start landing */
.landing {
  position: relative;
}
.landing .container .image img {
  width: 600px;
  max-width: 100%;
  position: relative;
  animation: up-and-down 5s linear infinite;
}
@media (max-width: 991px) {
  .landing .container .image {
    display: none;
  }
}
.landing::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ececec;
  z-index: -1;
  top: -30px;
  transform: skewY(-6deg);
  transform-origin: top left;
}
.landing .container {
  min-height: calc(100vh - 72px);
  display: flex;
  align-items: center;
  padding-bottom: 120px;
}
.landing .container .text {
  flex: 1;
}
@media (max-width: 991px) {
  .landing .container .text {
    text-align: center;
  }
}
.landing .container .text h1 {
  font-size: 40px;
  letter-spacing: -2px;
  margin: 0;
}
@media (max-width: 767px) {
  .landing .container .text h1 {
    font-size: 28px;
  }
}
.landing .container .text p {
  font-size: 23px;
  line-height: 1.7;
  margin: 5px 0 0;
  color: #666;
  max-width: 500px;
}
@media (max-width: 991px) {
  .landing .container .text p {
    margin: 10px auto;
  }
}
@media (max-width: 767px) {
  .landing .container .text p {
    font-size: 18px;
  }
}
.landing .go-down {
  color: var(--main-color);
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}
.landing .go-down:hover {
  color: var(--main-color-alt);
}
.landing .go-down i {
  animation: bouncing 1.5s infinite;
}
/* end landing */
/* start articles  */
.articles {
  padding: 100px 0;
}
.articles .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}
.articles .container .article-box {
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
  transition: transform var(--main-transition),
    box-shadow var(--main-transition);
}
.articles .container .article-box:hover {
  transform: translateY(-10px);
  box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
}
.articles .container .article-box img {
  max-width: 100%;
}
.articles .container .article-box .text {
  padding: 20px;
  line-height: 1.5;
  color: #777;
  border-bottom: 1px solid #e6e6e7;
}
.articles .container .article-box .text h3 {
  margin: 0 0 10px;
  text-transform: capitalize;
  color: black;
}
.articles .container .article-box .info {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.articles .container .article-box .info a {
  color: var(--main-color);
  font-weight: bold;
}
.articles .container .article-box .info i {
  color: var(--main-color);
}
.articles .container .article-box:hover .info i {
  animation: read-more-arrow 0.6s linear infinite;
}
/* end articles  */
/* start gallery  */
.gallery {
  padding: 100px 0;
  background-color: var(--section-background);
  position: relative;
  z-index: 0;
}
.gallery .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.gallery .container .frame {
  border: 15px solid white;
}
.gallery .container .frame {
  position: relative;
  overflow: hidden;
}
.gallery .container .frame::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  background-color: rgb(255 255 255 / 20%);
  z-index: 2;
}
@keyframes mask {
  0%,
  40% {
    opacity: 1;
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}
.gallery .container .frame:hover::before {
  animation: mask 0.7s;
}

.gallery .container .frame img {
  max-width: 100%;
  transition: var(--main-transition);
}
.gallery .container .frame:hover img {
  transform: scale(1.1, 1.1) rotateZ(4deg);
}
/* end gallery  */
/* start features */
.features {
  padding-top: var(--padding-section);
  padding-bottom: var(--padding-section);
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.features .container .feature-box {
  border: 1px solid #ccc;
}
.features .container .image {
  position: relative;
  overflow: hidden;
}
.features .container .image::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0px;
  border-style: solid;
  border-width: 0px 0px 170px 500px;
  border-color: transparent transparent white transparent;
  transition: border-width var(--main-transition);
  z-index: 2;
}
.features .container .image::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.features .container .feature-box:first-child .image::after {
  background-color: rgb(244 64 54 / 60%);
}
.features .container .feature-box:nth-child(2) .image::after {
  background-color: rgb(0 150 136 / 60%);
}
.features .container .feature-box:last-child .image::after {
  background-color: rgb(3 169 244 / 60%);
}
.features .container .feature-box:hover .image::before {
  border-width: 170px 500px 170px 0px;
}
.features .container img {
  max-width: 100%;
}
.features .container h3 {
  font-size: 40px;
  margin: 0 auto;
  width: fit-content;
  position: relative;
}
.features .container h3::before {
  content: "";
  position: absolute;
  height: 5px;
  width: 70%;
  bottom: -20px;
  left: 15%;
}
.features .container .feature-box:first-child h3::before {
  background-color: var(--quality-color);
}
.features .container .feature-box:nth-child(2) h3::before {
  background-color: var(--time-color);
}
.features .container .feature-box:last-child h3::before {
  background-color: var(--passion-color);
}
.features .container p {
  line-height: 2;
  font-size: 20px;
  margin: 30px 0;
  padding: 25px;
  color: #777;
}
.features .container a {
  padding: 10px 30px;
  font-size: 22px;
  font-weight: bold;
  border: 3px solid;
  border-radius: 6px;
  display: block;
  width: fit-content;
  margin: 0 auto 30px;
  position: relative;
}
.features .container .feature-box:first-child a {
  border-color: var(--quality-color);
  color: var(--quality-color);
}
.features .container .feature-box:nth-child(2) a {
  border-color: var(--time-color);
  color: var(--time-color);
}
.features .container .feature-box:last-child a {
  border-color: var(--passion-color);
  color: var(--passion-color);
}
.features .container a::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0;
  top: 0;
  left: 0;
  z-index: -1;
  transition: width var(--main-transition);
}
.features .container .feature-box:first-child a::before {
  background-color: var(--quality-color);
}
.features .container .feature-box:nth-child(2) a::before {
  background-color: var(--time-color);
}
.features .container .feature-box:last-child a::before {
  background-color: var(--passion-color);
}
.features .container .feature-box:hover a {
  color: white;
}
.features .container .feature-box:hover a::before {
  width: 100%;
}
/* end features */
/* start testimonials  */
.testimonials {
  padding: 100px 0;
  background-color: var(--section-background);
  position: relative;
  z-index: 0;
}
.testimonials .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.testimonials .container .testimonial-box {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 7%);
  border-radius: 6px;
  position: relative;
}
.testimonials .container .testimonial-box img {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 10px solid var(--section-background);
  top: 0;
  right: -10px;
  transform: translateY(-50%);
}
.testimonials .container .testimonial-box h3 {
  margin: 0 0 10px;
}
.testimonials .container .testimonial-box span {
  color: #777;
  margin-bottom: 10px;
  display: block;
}
.testimonials .container .testimonial-box i.filled {
  color: #ffc107;
}
.testimonials .container .testimonial-box p {
  line-height: 1.5;
  color: #777;
  margin-top: 10px;
  margin-bottom: 0;
}
/* end testimonials  */
/* start team  */
.team {
  padding: 100px 0;
}
.team .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.team .container .member-box {
  position: relative;
}
.team .container .member-box::before {
  content: "";
  height: 100%;
  width: 85%;
  border-radius: 10px;
  position: absolute;
  right: 0;
  background-color: #f3f3f3;
  z-index: -1;
}
.team .container .member-box::after {
  content: "";
  height: 100%;
  width: 0;
  border-radius: 10px;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #e4e4e4;
  z-index: -1;
  transition: width var(--main-transition);
}
.team .container .member-box:hover::after {
  width: 85%;
}
.team .container .member-box .data {
  display: flex;
  padding-top: 60px;
}
.team .container .member-box .data .social-media {
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
  text-align: center;
}
.team .container .member-box img {
  max-width: 100%;
  width: calc(100% - 60px);
  border-radius: 10px;
  transition: filter var(--main-transition);
}
.team .container .member-box:hover img {
  filter: grayscale(100%);
}
.team .container .member-box .data .social-media a {
  margin: 15px 0;
}
.team .container .member-box .data .social-media i {
  color: #777;
  font-weight: 400;
}
.team .container .member-box .info {
  padding-left: 80px;
}
.team .container .member-box .info h3 {
  margin-top: 22px;
  color: var(--main-color);
  font-size: 22px;
  transition: color var(--main-transition);
}
.team .container .member-box:hover .info h3 {
  color: #777;
}
.team .container .member-box .info p {
  margin: 10px 0 25px;
}
/* end team  */
/* start services  */
.services {
  padding: 100px 0;
  background-color: var(--section-background);
  position: relative;
  z-index: 0;
}
.services .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.services .container .service-box {
  text-align: center;
  background-color: #fff;
  counter-increment: services;
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
  transition: transform var(--main-transition);
  position: relative;
}
.services .container .service-box::before {
  content: "";
  background-color: var(--main-color);
  height: 3px;
  position: absolute;
  width: 0px;
  top: -3px;
  transform: translateX(-50%);
  left: 50%;
  transition: width var(--main-transition);
}
.services .container .service-box:hover {
  transform: translateY(-10px);
}
.services .container .service-box:hover::before {
  width: 100%;
}
.services .container .service-box i {
  margin: 30px 0 20px;
  color: #d5d5d5;
  display: block;
  text-align: center;
}
.services .container .service-box h3 {
  margin: 20px 0 40px;
  font-size: 25px;
  color: var(--main-color);
}
.services .container .service-box .info {
  background-color: #f9f9f9;
  padding: 15px;
  display: flex;
  position: relative;
  overflow: hidden;
}
.services .container .service-box .info::before {
  content: "";
  position: absolute;
  left: -14px;
  top: 0;
  background-color: var(--main-color);
  height: 100%;
  width: 80px;
  transform: skewX(-30deg);
  box-shadow: 50px 0 0px #d5d5d5;
}
.services .container .service-box .info::after {
  content: "0" counter(services);
  color: white;
  font-weight: bold;
  font-size: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.services .container .service-box .info a {
  margin-left: auto;
  color: var(--main-color);
}
/* end services  */
/* start skills */
.our-skills {
  padding: 100px 0;
}
.our-skills .container {
  display: flex;
}
.our-skills .container .skills {
  display: flex;
  flex: 1;
  flex-direction: column;
}
@media (max-width: 991px) {
  .our-skills .container img {
    display: none;
  }
}
.our-skills .container .skills .skill h3 {
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
.our-skills .container .skills .skill h3 span {
  font-size: 12px;
  border: 1px solid #ccc;
  padding: 3px 5px;
  border-radius: 4px;
  color: var(--main-color);
}
.our-skills .container .skills .skill .the-progress {
  height: 30px;
  background-color: #eee;
  position: relative;
}
.our-skills .container .skills .skill .the-progress span {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: var(--main-color);
  transition: width 0.5s linear;
}
/* end skills */
/* start work steps */
.work-steps {
  background-color: var(--section-background);
  padding: 100px 0;
  position: relative;
  z-index: 0;
}
.work-steps .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .work-steps .container {
    flex-direction: column;
  }
}
.work-steps .container > img {
  max-width: 100%;
  margin-right: 100px;
}
@media (max-width: 991px) {
  .work-steps .container > img {
    margin: 0 0 50px;
  }
}
.work-steps .container .box {
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 6px;
  display: flex;
  border: 2px solid #fff;
  background-color: #f6f5f5;
  align-items: center;
  position: relative;
}
@media (max-width: 767px) {
  .work-steps .container .box {
    flex-direction: column;
  }
}
.work-steps .container .box::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  height: 0;
  width: 0;
  border-radius: 6px;
  background-color: #ededed;
  transition: var(--main-transition);
  z-index: 1;
}
.work-steps .container .box:hover::before {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.work-steps .container .box img {
  width: 64px;
  margin-right: 30px;
  position: relative;
  z-index: 2;
}
@media (max-width: 767px) {
  .work-steps .container .box img {
    margin: 0 0 30px;
  }
}
.work-steps .container .box .text {
  position: relative;
  z-index: 2;
}
@media (max-width: 767px) {
  .work-steps .container .box .text {
    text-align: center;
  }
}
.work-steps .container .box .text h3 {
  font-size: 22px;
}
.work-steps .container .box .text p {
  color: #777;
  line-height: 1.7;
  margin: 10px 0 0;
  font-size: 18px;
}
/* end work steps */
/* start events */
.events {
  padding: 100px 0;
}
.events .container {
  display: flex;
  flex-wrap: wrap;
}
.events .container img {
  max-width: 450px;
}
@media (max-width: 991px) {
  .events .container img {
    display: none;
  }
}
.events .container .info {
  flex: 1;
}
.events .container .info .time {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.events .container .info .time .unit {
  display: flex;
  flex-direction: column;
  width: 75px;
  border: 1px solid #d4d4d4;
  border-radius: 6px;
  text-align: center;
  transition: border var(--main-transition);
}
.events .container .info .time .unit:hover {
  border: 1px solid var(--main-color);
}
.events .container .info .time .unit span:first-child {
  font-size: 35px;
  padding: 15px;
  color: var(--main-color);
  font-weight: bold;
}
.events .container .info .time .unit span:last-child {
  padding: 8px 10px;
  font-size: 13px;
  border-top: 1px solid #d4d4d4;
  transition: border-top var(--main-transition);
}
.events .container .info .time .unit:hover span:last-child {
  border-top: 1px solid var(--main-color);
}
.events .container .info .title {
  text-align: center;
  margin: 40px 0 0;
  font-size: 30px;
}
.events .container .info p {
  text-align: center;
  line-height: 1.7;
  font-size: 19px;
  color: #777;
  margin: 20px 0;
}
.events .container .subscribe {
  width: 100%;
  margin-top: 50px;
}
@media (max-width: 767px) {
  .events .container .subscribe {
    margin-top: 20px;
  }
}
.events .container .subscribe form {
  width: 600px;
  margin: 20px auto;
  padding: 30px 40px;
  background-color: #f6f5f5;
  border-radius: 50px;
  display: flex;
  gap: 20px;
}
@media (max-width: 767px) {
  .events .container .subscribe form {
    flex-direction: column;
    width: auto;
    border-radius: 0px;
  }
}
.events .container .subscribe form input[type="email"] {
  padding: 20px;
  border-radius: 50px;
  border: none;
  flex: 1;
  caret-color: var(--main-color);
}
.events .container .subscribe form input[type="email"]:focus {
  outline: none;
}
.events .container .subscribe form input[type="email"]::placeholder {
  transition: opacity var(--main-transition);
}
.events .container .subscribe form input[type="email"]:focus::placeholder {
  opacity: 0;
}
.events .container .subscribe form input[type="submit"] {
  border-radius: 50px;
  border: none;
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  padding: 20px;
  cursor: pointer;
  transition: var(--main-transition);
}
@media (max-width: 767px) {
  .events .container .subscribe form input[type="email"],
  .events .container .subscribe form input[type="submit"] {
    border-radius: 0px;
  }
}
/* end events */
/* start pricing */
.pricing {
  background-color: var(--section-background);
  position: relative;
  z-index: 0;
  padding: 100px 0;
}
.pricing .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.pricing .container .plan {
  background-color: #fff;
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
  position: relative;
}
.pricing .container .plan::before {
  content: "";
  position: absolute;
  background-color: #f6f6f6;
  left: 0;
  top: 0;
  width: 0;
  height: 50%;
  transition: var(--main-transition);
  z-index: 1;
}
.pricing .container .plan::after {
  content: "";
  position: absolute;
  background-color: #f6f6f6;
  right: 0;
  top: 50%;
  width: 0;
  height: 50%;
  transition: var(--main-transition);
  z-index: 1;
}
.pricing .container .plan:hover:before {
  width: 100%;
}
.pricing .container .plan:hover::after {
  width: 100%;
}
@media (min-width: 1200px) {
  .pricing .container .plan:nth-child(2) {
    transform: translateY(-20px);
  }
}
.pricing .container .plan:nth-child(2) .label {
  position: absolute;
  z-index: 2;
  transform: rotate(90deg);
  top: 38px;
  right: 5px;
  background-color: var(--main-color);
  color: #fff;
  font-weight: bold;
  padding: 10px 4px 10px 10px;
  font-size: 18px;
  height: 40px;
  display: flex;
  align-items: center;
}

.pricing .container .plan:nth-child(2) .label::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: 99.5%;
  top: 0px;
  border-width: 20px 20px 20px 5px;
  border-style: solid;
  border-color: var(--main-color) transparent var(--main-color)
    var(--main-color);
}

.pricing .container .plan h3 {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: -1px;
  margin: 30px 0;
  text-align: center;
  z-index: 2;
  position: relative;
}
.pricing .container .plan img {
  width: 80px;
  display: block;
  margin: 0px auto 30px;
  position: relative;
  z-index: 2;
}
.pricing .container .plan .price {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0 0 20px;
  z-index: 2;
  position: relative;
}
.pricing .container .plan .price span:first-child {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 5px;
  color: var(--main-color);
}
.pricing .container .plan .price span:last-child {
  color: #777;
}
.pricing .container .plan ul li {
  padding: 20px;
  border-top: 1px solid #eee;
  z-index: 2;
  position: relative;
}
.pricing .container .plan ul li::before {
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  margin-right: 20px;
  font-weight: 900;
  color: var(--main-color);
  transform: translateY(-50%);
}
.pricing .container .plan a {
  padding: 15px 20px;
  color: var(--main-color);
  border: 2px solid var(--main-color);
  border-radius: 6px;
  font-weight: bold;
  margin: 30px auto 40px;
  display: block;
  width: fit-content;
  z-index: 2;
  position: relative;
}
/* end pricing */
/* start videos  */
.videos {
  padding: 100px 0;
}
.videos .container {
  display: flex;
}
@media (max-width: 991px) {
  .videos .container {
    flex-direction: column;
  }
}
.videos .container .list {
  border: 1px var(--section-background) solid;
  min-width: 300px;
}
.videos .container .list .name {
  padding: 20px;
  background-color: #f4f4f4;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}
.videos .container .list ul li {
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-top: 1px var(--section-background) solid;
}
.videos .container .list ul li span {
  margin: 10px 0 0;
}
.videos .container .preview {
  background-color: #e2e2e2;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.videos .container .preview img {
  max-width: 100%;
}
.videos .container .preview .info {
  padding: 20px;
  background-color: #fff;
}
@media (max-width: 991px) {
  .videos .container .preview .info {
    margin-top: 10px;
  }
}
/* end videos  */
/* start stats  */
.stats {
  padding: 100px 0;
  background-image: url(../imgs/stats.jpg);
  position: relative;
}
.stats::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255 255 255 / 95%);
}
.stats h2 {
  font-size: 40px;
  font-weight: bold;
  margin: 0 0 50px;
  text-align: center;
  position: relative;
}
.stats .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}
.stats .container .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  opacity: 0.8;
  padding: 30px 15px;
  position: relative;
  transition: 0.5s;
}
.stats .container .box::before {
  content: "";
  bottom: 0;
  right: 0;
  width: 2px;
  height: 0;
  position: absolute;
  background-color: var(--main-color);
  transition: height 0.5s;
}
.stats .container .box::after {
  content: "";
  top: 0;
  left: 0;
  width: 2px;
  height: 0;
  position: absolute;
  background-color: var(--main-color);
  transition: height 0.5s;
}
.stats .container .box:hover {
  opacity: 1;
}
.stats .container .box:hover::before,
.stats .container .box:hover::after {
  height: 100%;
}
.stats .container .box .number {
  font-size: 50px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}
.stats .container .box .text {
  color: var(--main-color);
  font-style: italic;
  font-size: 20px;
  font-weight: bold;
}
/* end stats  */
/* start discount */
.discount {
  min-height: 100vh;
  display: flex;
}
@media (max-width: 991px) {
  .discount {
    flex-direction: column;
  }
}
.discount .image,
.discount .form {
  flex-basis: 50%;
}
.discount .image {
  background-image: url(../imgs/discount-background1.jpg);
  background-size: cover;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  color: #fff;
  animation: back-change 10s linear infinite;
}
.discount .image::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(23 135 224 / 97%);
}
@keyframes back-change {
  0%,
  100% {
    background-image: url(../imgs/discount-background2.jpg);
  }
  50% {
    background-image: url(../imgs/discount-background1.jpg);
  }
}
.discount .image .content {
  text-align: center;
  position: relative;
}
.discount .image .content h3 {
  font-size: 40px;
  letter-spacing: -2;
  margin: 33px 0;
}
.discount .image .content p {
  line-height: 1.6;
  font-size: 18px;
  max-width: 500px;
  margin: 18px 0;
}
.discount .image .content img {
  width: 300px;
  max-width: 100%;
}
.discount .form {
  display: flex;
  align-items: center;
  justify-content: center;
}
.discount .form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.discount .form h3 {
  font-size: 40px;
  letter-spacing: -2px;
  margin: 33px 0;
}
.discount .form input,
.discount .form textarea {
  display: block;
  width: 100%;
  margin-bottom: 25px;
  padding: 15px;
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: #f9f9f9;
  caret-color: var(--main-color);
}
.discount .form input:focus,
.discount .form textarea:focus {
  outline: none;
}
.discount .form textarea {
  height: 200px;
  resize: none;
}
.discount .form input[type="submit"] {
  background-color: var(--main-color);
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}
/* end discount */
/* start footer  */
.footer {
  background-color: #191919;
  padding: 70px 0 0;
}
.footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}
.footer .container .box h3 {
  color: white;
  font-size: 50px;
  margin: 0 0 20px;
}
.footer .container .box:first-child ul {
  display: flex;
}
.footer .container .box:first-child ul li {
  margin-right: 10px;
}
.footer .container .box:first-child ul li a {
  color: #b9b9b9;
  width: 50px;
  height: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #313131;
  font-size: 20px;
  transition: var(--main-transition);
}
.footer .container .box:first-child ul li:first-child:hover a {
  background-color: #1877f2;
}
.footer .container .box:first-child ul li:nth-child(2):hover a {
  background-color: #1da1f2;
}
.footer .container .box:first-child ul li:last-child:hover a {
  background-color: #ff0000;
}
.footer .container .box:first-child .text {
  line-height: 2;
  color: #b9b9b9;
  margin: 16px 0;
}
.footer .container .box:nth-child(2) ul li {
  padding: 15px 0;
  border-bottom: 1px solid #444;
}
.footer .container .box:nth-child(2) ul li:last-child {
  border: none;
}
.footer .container .box:nth-child(2) ul li a {
  color: #b9b9b9;
  left: 0;
  transition: var(--main-transition);
  position: relative;
}
.footer .container .box:nth-child(2) .links li a::before {
  font-family: "Font Awesome 5 Free";
  content: "\F101";
  font-weight: 900;
  margin-right: 10px;
  color: var(--main-color);
}
.footer .container .box:nth-child(2) ul li a:hover {
  left: 10px;
  color: #fff;
}
.footer .container .box:nth-child(3) .line {
  display: flex;
  align-items: center;
  color: #b9b9b9;
  margin-bottom: 30px;
}

.footer .container .box:nth-child(3) .line i {
  font-size: 25px;
  color: var(--main-color);
  margin-right: 10px;
}
.footer .container .box:nth-child(3) .line .info {
  line-height: 1.7;
  flex: 1;
}
.footer .container .box:nth-child(3) .line:nth-child(3) .info {
  display: flex;
  flex-direction: column;
}
.footer .gallery-footer img {
  width: 73px;
  border: 3px solid #fff;
  margin: 2px;
}
.copyright {
  padding: 20px 0;
  text-align: center;
  color: #fff;
  font-size: 20px;
  border-top: 1px solid #444;
  margin-top: 50px;
}
/* end footer  */
